.table-container {
    #add {
        margin: 0 0 20px 64px;
    }
    table {
        text-align: center;
        margin: 10px auto;
        border: 1px solid #d7d7d7;
        width: 85%;
        thead {
            font-size: 14px;
            color: #666;
            th {
                padding: 5px 10px;
            }
        }
        tbody {
            td {
                font-size: 14px;
                color: #666;
                padding: 10px;
                select  {
                    height: 30px;
                }
                button {
                    width: 35px;
                    height: 20px;
                    font-size: 12px;
                    text-align: center;
                    padding: 0;
                    background-color: transparent;
                    &:nth-child(1) {
                        border:1px solid #ffcc33;
                        color: #ffcc33;
                        &:hover {
                            background-color: #ffcc33;
                            color: #fff;
                        }
                        &:focus {
                            background-color: #ffcc33;
                            color: #fff;
                        }
                    }
                    &:nth-child(2) {
                        border:1px solid #ff3300;
                        color: #ff3300;
                        margin-left: 0 !important;
                        &:hover {
                            background-color: #ff3300;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    #submit {
        float: right;
        margin-top: 40px;
        margin-right: 64px;
    }
}